@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-image: url(../img/sao_paulo.jpg);
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    font-size: large;
}


header{
    padding:10px 0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color:yellowgreen;
}


main{
    text-align: center;
}

footer{
    background-color:gray;
    height: 30px;
    padding: 40px 10px;
    text-align: center;
}

a{
    background-size: cover;
    background-position: center;
    margin: 20px;
}

#insta{
    background-image: url(../img/Instagram.png);
    padding: 24px 35px;
    

}

#youtube{
    background-image: url(../img/YouTube.png);
    padding: 24px 50px;
    
}

#curiosidades{
    color: white;
    position: relative;
}


label, select,textarea{
    display: block;
    margin: 10px auto; 
}

label{
    margin: 5px;
    font-weight: bold;
}



#formulario{
    background-color: white;
    width: 50%;
    margin: 20px auto ;
    padding: 10px;
}

.idade18 label, .tipo label{
    display: inline-block;
}

fieldset{
    padding: 10px;
    margin: 10px;
}

/* Animação para aumentar tamanho */
input:hover, textarea:hover, select:hover{
    width: 30%;
}